@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: rgb(9, 251, 223);
    --cor-secundaria: #ffffff;
    --cor-terciaria: black;
    --cor--hover: #d2f3f0;

    --font-primaria: 'Bruno Ace', cursive;
    --font-secundaria: 'Montserrat', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria) ;
    color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0% 0% 5%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px ;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao{
    padding: 4% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:  var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__subtitulos{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var(--cor-secundaria);
    border:7px outset var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
}
.apresentacao__links__link:hover {
    background-color: var(--cor--hover);
}

.apresentacao__imagem{
 width: 50%;
} 

.rodape {
    padding: 24px;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 986px ) {
    .cabecalho {
        padding: 7%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}